---
layout: layout.pug
---

p.content.
    Karjalasta kajahtaa syksyllä 2026!<br /><br />

    Suomen teekkarikuorot kokoontuvat Lappeenrantaan ensimmäistä kertaa ja kajauttavat yhteisvoimin <b>konsertissaan la 7.11.2026.</b> Tule kuuntelemaan teekkareiden parhaimmistoa!<br /><br />

    Liput tulevat myyntiin syksyn 2026 aikana.<br /><br />

    Otathan somekanavamme seurantaan niin saat viimeisimmät päivitykset tapahtumasta!<br /><br />
    <a href="https://www.instagram.com/kajahdus26/"><img src="ig.webp" alt="Instagram" width="24" style="margin-bottom: -6px;" /> Instagram</a>

style.
    .content {
        padding: 0.5em 1.3em;
    }