---
layout: layout.pug
---

.page
    .content
        p.
            Description
            Types of positioning

                A positioned element is an element whose computed position value is either relative, absolute, fixed, or sticky. (In other words, it's anything except static.)
                A relatively positioned element is an element whose computed position value is relative. The top and bottom properties specify the vertical offset from its normal position; the left and right properties specify the horizontal offset.
                An absolutely positioned element is an element whose computed position value is absolute or fixed. The top, right, bottom, and left properties specify offsets from the edges of the element's containing block. (The containing block is the ancestor relative to which the element is positioned.) If the element has margins, they are added to the offset. The element establishes a new block formatting context (BFC) for its contents.
                A stickily positioned element is an element whose computed position value is sticky. It's treated as relatively positioned until its containing block crosses a specified threshold (such as setting top to value other than auto) within its flow root (or the container it scrolls within), at which point it is treated as "stuck" until meeting the opposite edge of its containing block.

            Most of the time, absolutely positioned elements that have height and width set to auto are sized so as to fit their contents. However, non-replaced, absolutely positioned elements can be made to fill the available vertical space by specifying both top and bottom and leaving height unspecified (that is, auto). They can likewise be made to fill the available horizontal space by specifying both left and right and leaving width as auto.

            Except for the case just described (of absolutely positioned elements filling the available space):

                If both top and bottom are specified (technically, not auto), top wins.
                If both left and right are specified, left wins when direction is ltr (English, horizontal Japanese, etc.) and right wins when direction is rtl (Persian, Arabic, Hebrew, etc.).

            Accessibility

            Ensure that elements positioned with an absolute or fixed value do not obscure other content when the page is zoomed to increase text size.

                MDN Understanding WCAG, Guideline 1.4 explanations
                Visual Presentation: Understanding SC 1.4.8 | Understanding WCAG 2.0

            Performance & Accessibility

            Scrolling elements containing fixed or sticky content can cause performance and accessibility issues. As a user scrolls, the browser must repaint the sticky or fixed content in a new location. Depending on the content needing to be repainted, the browser performance, and the device's processing speed, the browser may not be able to manage repaints at 60 fps. Such a scenario can lead to jank and, more importantly, accessibility concerns for people with sensitivities. One solution is to add will-change: transform to the positioned elements to render the element in its own layer, improving repaint speed and therefore improving performance and accessibility.
    .right-side
        img.graphic(src="TJ-Laskuri_VIllimies_ja_Norppa.svg" alt="Villimies ja Norppa")


style.
    .page {
        position: relative;
        background-color: var(--accent);
    }

    .page .content {
        width: 81.2%;
        margin: 0 0;
        padding: 0.5em 1.3em;
        background-color: var(--primary);
        box-sizing: border-box;
    }

    .right-side {
        position: absolute;
        top: -30px;
        right: -40px;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
    }

    .graphic {
        position: sticky;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 2000;
    }