---
layout: layout.pug
---

.page
    .content
        p.
            <b>Save the Date!</b><br /><br />
            Suomen teekkarikuorot kokoontuvat Lappeenrantaan ensimm채ist채 kertaa.
            Tule kokemaan kuinka karjalasta kajahtaa <b>6.-8.11.2026!</b><br /><br />
            Laita somekanavamme seurantaan niin saat viimeisimm채t p채ivitykset tapahtumasta!

    .right-side
        img.graphic(src="TJ-Laskuri_VIllimies_ja_Norppa.svg" alt="Villimies ja Norppa")


style.
    :root {
        --right-side: 70px;
    }
    .page {
        position: relative;
        background-color: var(--accent);
        min-height: 100%;
    }

    .page .content {
        width: calc(100% - var(--right-side));
        margin: 0 0;
        padding: 0.5em 1.3em;
        background-color: var(--primary);
        box-sizing: border-box;
        height: 100%;
    }

    .right-side {
        position: absolute;
        top: -30px;
        right: -40px;
        width: calc(var(--right-side) + 40px + 110px);
        height: 100%;
        box-sizing: border-box;
    }

    .graphic {
        position: sticky;
        top: 60px;
        width: 100%;
        height: auto;
        z-index: 1100;
    }