---
layout: layout.pug
---

p.content.
    Karjalasta kajahtaa syksyllä 2026!
    Suomen teekkarikuorot kokoontuvat Lappeenrantaan ensimmäistä kertaa.
    Tule mukaan tukemaan teekkarikuorojen rakasta perinnettä!<br /><br />
    Järjestäjiin saat yhteyden sähköpostitse osoitteesta: <a href="mailto:kajahdus@kajahdus26.fi">kajahdus@kajahdus26.fi</a>

style.
    .content {
        padding: 0.5em 1.3em;
    }