---
layout: layout.pug
---

p.
    <b>Save the Date!<br />
    Tapahtumaviikonloppu on 6.-.8.11.2026.</b><br /><br />

    Tule kokemaan kuinka karjalainen kajauttaa Saimaan rannalla!<br /><br />

    Lisätietoa ilmoittautumisesta ja tapahtumasta julkaistaan vuoden 2026 aikana.<br /><br />

    Otathan somekanavamme seurantaan niin saat viimeisimmät päivitykset tapahtumasta!


